@import 'normalize.css'

body {
  color white

  display flex
  flex-direction column

  min-height 100vh
  user-select none

  background #121212
  color rgba(white, 84%)
}

canvas {
  image-rendering pixelated
  outline none

  cursor none
  margin auto

  width 400px * 2
  height 400px * 2
  flex-shrink 1
}

header {
  display block

  min-height 64px

  z-index 1
  box-shadow 0 2px 2px rgba(black, 0.2)
  color white
  background #3f51b5 //linear-gradient(#3d3d3d, #242424)

  font-family 'Lato', 'Roboto', 'Helvetica Neue', 'Fira Sans', sans-serif

  > div {
    width 400px * 2
    max-width 100vw

    margin auto

    display flex
    flex-direction row
  }

  button {
    margin 4px
    padding 4px 8px
    min-height 30px
    min-width 132px

    color rgba(black, 0.6)

    //border 2px solid red
    border-radius 2px
    border none
    outline none
    box-shadow 0 1px 2px rgba(black, 0.2)

    &:not([disabled]).checked {
      background linear-gradient(#5ae151, #41c837)
    }

    &:not([disabled]).unchecked {
      background linear-gradient(#f25454, #d93b3b)
    }

    &[disabled] {
      background linear-gradient(#CFCFCF, #B1B1B1)
      color rgba(black, 0.4)
    }
  }

  #toggles {
    display flex
    flex-direction column

    max-width 150px
    overflow-y auto

    background #303f9f
    padding 16px
    //box-sizing border-box
  }

  #toolbar {
    flex-grow 1
    overflow-y auto

    padding 8px
    margin 8px
    cursor default

    .tile {
      width 32px
      height 32px
      
      margin 2px
      padding 2px

      image-rendering pixelated
      background #303f9f

      &.selected {
        background rgba(white, 0.25)
      }
    }
  }
}
